body
{
    font-family: 'Merriweather', serif;
    color: #333;
    background-color: #f9f9f9;
}

#container
{
    margin: auto;
    margin-top: 30px;
    max-width: 550px;
}

#header
{
    text-align:center;
    overflow:auto;
    margin-top:2em;
}

h1
{
    margin:0px;
    font-size: 50px;
    text-align:center;
    color: #004777;
}

h2
{
    color: #494949;
    margin-bottom: 5px;
    font-size:16px;
}

.canvas_container
{
    text-align:center;
    margin:1em;
}

div.article
{
    padding:15px;
    border-bottom: 1px solid #ccc;
}

div.article h2
{
    margin-top: 0px;
}

div.article p
{
    margin-bottom:0px;
}

.instructions
{
    text-align: center;
    font-style: italic;
}
